node_modules/
.npm/
.pnpm-store/

.env
.env.local
.env.*.local
!.env.example

dist/
.angular/
.cache/
.layers/
/src/app/config.json
/.angular/cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

.docker/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
